* {
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F7F9F9;
}

img {
  width: 100%;
}

h1,h2,h3,h4 {
  color: #252525;
}

.btn-sucess,
.btn-damage {
  background-color: #00856F;
  color: #fff;
  font-weight: 700;
  padding: 10px 60px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  transition: .3s ease;
  display: inline-block;
  box-shadow: 1px 1px 5px rgba(0,0,0,.1);
}

.btn-damage {
  background: #D54;
}

.btn-damage:hover {
  color: #fff !important;
  opacity: .8;
}

.btn-sucess:hover {
  opacity: .8;
}

/* mensage */

label span.n-op {
  color: #D54;
}

.error-mensage {
  font-size: 16px;
  color: #D54;
  padding: 5px;
  display: block;
}

#logo-buscapet, #menu-list-buscapet{
  color: #FFFAF1;
  transition: 0.2;
}